# Python
__pycache__
*.pyc

# Objects / Deps / Archives
*.o
*.d
*.a

# Binaries
*.bin

# Other Build Residuals
*.map
*.lst
*.axf
*.elf

# MacOSX
*.DS_Store

# Cortex-Debug
.vscode/.cortex-debug.*.state.json